@charset "utf-8";

/* keyframes */
@keyframes textLoop {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/* end keyframes */

section {
  background-color: #fff;
}
section .sec_tit {
  font-family: 'Nanum Myeongjo', serif;
}

/* sec01 _ main */
.sec01 {
  position: sticky;
  top: 0;
  z-index: -1;
  height: 100vh;
  background: url(../img/main.jpg) no-repeat center/cover;
}
.sec01 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100vh;
  font-family: 'Nanum Myeongjo', serif;
  color: #fff;
}
.sec01 div .name {
  font-weight: bold;
}

/* sec02 _  introduction */
.sec02 .port_tit {
  font-family: 'Nanum Myeongjo', serif;
  text-align: center;
}
.sec02 .greeting {
  font-family: 'Nanum Myeongjo', serif;
}
.sec02 .cont {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.sec02 .cont .text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sec02 .cont .text_wrap strong {
  display: block;
}
.sec02 .cont .text_wrap li {
  padding-left: 10px;
}
.sec02 .cont .text_wrap li::before {
  content: '・';
  position: relative;
  left: -10px;
}
.sec02 .cont .text_wrap li:not(:last-child) {
  margin-bottom: 15px;
}
.sec02 .cont .text_wrap li span {
  display: block;
  margin: 8px 0 0 2px;
}
.sec02 .cont .text_wrap .out_link {
  display: flex;
  gap: 50px;
}
.sec02 .cont .text_wrap .out_link a::after {
  content: '';
  display: inline-block;
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background: url(../img/outlink_B.png) no-repeat center/contain;
}
.sec02 .cont .text_wrap .out_link a:hover::after {
  background-image: url(../img/outlink_Y.png);
}

/* sec03 _  skill */
.sec03 {
  overflow: hidden;
}
.sec03 ul {
  display: flex;
  font-weight: 800;
  opacity: 0.15;
  animation: textLoop 15s linear infinite;
}
.sec03 ul:nth-child(even) {
  animation-direction: reverse;
}

/* sec04 _ my works */
.sec04 {
  overflow: hidden;
  position: relative;
  width: 100vw;
}
.sec04 .sec_tit {
  margin-left: 6%;
}
.sec04 .slick_slide_wrap {
  position: relative;
  left: 6%;
}
.sec04 ul li {
  opacity: 0.7;
}
.sec04 ul li.slick-current {
  opacity: 1; 
  transition: all 0.5s;
}
.sec04 ul li.slick-current img {
  margin: 0;
  transition: all 0.5s;
}
.sec04 ul li .text_wrap strong {
  display: block;
}
.sec04 ul li .text_wrap .info {
  line-height: 1.6;
}
.sec04 .btn_wrap {
  position: absolute;
  right: 6%;
}
.sec04 .btn_wrap button {
  text-indent: -9999px; 
  background: url(../img/chevron.png) no-repeat left/cover;
}
.sec04 .btn_wrap .work_right {
  position: absolute;
  right: 0;
  background-position: right 0;
}

/* sec05 _ resolution */
.sec05 {
  text-align: center;
}
.sec05 p:nth-of-type(2) {
  margin: 20px 0;
  line-height: 1.6;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 6% 50px;
}

/* pc */
@media screen and (min-width: 961px){
  section {
    padding-bottom: 100px;
  }
  section .sec_tit {
    margin-bottom: 50px;
    font-size: 60px;
  }
  /* sec01 _ main */
  .sec01 div .name {
    font-size: 5rem;
  }
  /* sec02 _  introduction */
  .sec02 {
    padding: 30px 6% 100px;
  }
  .sec02 .port_tit {
    font-size: 21px;
  }
  .sec02 .greeting {
    margin: 100px 0 50px;
    font-size: 60px;
  }
  .sec02 .cont .img_wrap {
    max-width: 32%;
  }
  .sec02 .cont .text_wrap {
    gap: 50px;
  }
  .sec02 .cont .text_wrap strong {
    margin-bottom: 20px;
    font-size: 18px;
  }
  /* sec03 _  skill */
  .sec03 ul {
    gap: 100px;
    font-size: 120px;
  }
  /* sec04 _ my works */
  .sec04 ul li:not(:last-child) {
    margin-right: 50px;
  }
  .sec04 ul li img {
    width: 550px; 
    height: 300px; 
    margin: 15px 0;
  }
  .sec04 ul li.slick-current img {
    height: 330px;
  }
  .sec04 ul li .text_wrap {
    padding: 20px 20px 0 20px;
  }
  .sec04 ul li .text_wrap strong {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .sec04 .btn_wrap {
    top: 24px;
    width: 56px;
  }
  .sec04 .btn_wrap button {
    width: 13px; 
    height: 23px;
  }
  /* sec05 _ resolution */
  .sec05 {
    font-size: 18px;
  }
}

/* mobile */
@media screen and (max-width: 960px){
  section {
    padding-bottom: 50px;
  }
  section .sec_tit {
    margin-bottom: 20px;
    font-size: 24px;
  }
  /* sec01 _ main */
  .sec01 div .name {
    font-size: 2rem;
  }
  /* sec02 _  introduction */
  .sec02 {
    padding: 20px 6% 50px;
  }
  .sec02 .greeting {
    margin: 50px 0 20px;
  }
  .sec02 .cont {
    flex-direction: column;
    gap: 20px;
  }
  .sec02 .cont .text_wrap {
    gap: 20px;
  }
  .sec02 .cont .img_wrap {
    overflow: hidden;
    width: 80%;
    min-width: 315px;
    height: 400px;
    margin: 0 auto;
  }
  .sec02 .cont .img_wrap img {
    margin-top: -20%;
  }
  .sec02 .cont .text_wrap strong {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .sec02 .cont .text_wrap li {
    line-height: 1.4;
  }
  /* sec03 _  skill */
  .sec03 ul {
    gap: 50px;
    font-size: 60px;
  }
  /* sec04 _ my works */
  .sec04 ul li:not(:last-child) {
    margin-right: 20px;
  }
  .sec04 ul li img {
    width: 280px; 
    height: 148px; 
    margin: 10px 0;
  }
  .sec04 ul li.slick-current img {
    height: 168px;
  }
  .sec04 ul li .text_wrap {
    padding: 8px 8px 0 8px;
  }
  .sec04 ul li .text_wrap strong {
    margin-bottom: 15px;
  }
  .sec04 .btn_wrap {
    top: 6px;
    width: 26px;
  }
  .sec04 .btn_wrap button {
    width: 8px;
    height: 13px;
  }
  /* sec05 _ resolution */
  .sec05 {
    padding: 0 6% 50px;
  }
  .sec05 p {
    line-height: 1.6;
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
